<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <title>Daily Journal</title>
  </head>
  <body class="">
    <!-- Nav Bar -->
    <div class="flex justify-between bg-rose-50 min-w-screen">
        <!-- Title -->
        <div class="py-8 pl-32 uppercase font-varela-round text-opacity-70 text-gray-700 text-xl tracking-widest font-medium">Daily Journal</div>
        <!-- Options -->
        <div class="flex space-x-12 pr-32">
          <div class="py-8"><a class="uppercase font-varela-round text-opacity-70 text-gray-700 text-base tracking-widest hover:text-[#1abc9c] font-medium" href="/">Home</a></div>
          <div class="py-8"><a class="uppercase font-varela-round text-opacity-70 text-gray-700 text-base tracking-widest hover:text-[#1abc9c] font-medium" href="/about">About Us</a></div>
          <div class="py-8"><a class="uppercase font-varela-round text-opacity-70 text-gray-700 text-base tracking-widest hover:text-[#1abc9c] font-medium" href="/contact">Contact Us</a></div>
        </div>
    </div>
