<%-include("./partials/header")-%>
    <main class="mx-32">
      <h1 class="font-semibold text-4xl my-4">About</h1>
      <p class=""><%= aboutContent %></p>
    </main>
    <%-include("./partials/footer")-%>