<%-include("./partials/header")-%>
    <main class="mx-32">
      <h1 class="font-semibold text-4xl my-4">Compose</h1>
      <form action="/compose" method="post">
        <label for="" class="font-semibold">Title</label>
        <input type="text" name="postTitle" class="w-full border border-solid border-gray-300 rounded-md focus:ring-0" autocomplete="off">
        <label for="" class="font-semibold">Post</label>
        <textarea
      class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:ring-0 rounded-md"
      id=""
      rows="4"
      placeholder=""
      name="postBody"
    ></textarea>
  </div>
        <button class="bg-indigo-500 px-4 py-2 rounded-md text-white my-4" type="submit">Publish</button>
      </form>
    </main>
    <%-include("./partials/footer")-%>